<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Activity</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
     @using Microsoft.AspNetCore.Http;
     @{
        int? UserID = @Context.Session.GetInt32("ID");
        string UserName = @Context.Session.GetString("UserName");
        
        if(UserID == null )
        {
            <div class="flex-container">
            <h1>Welcome to The Dojo Activity Center!</h1>
            </div>
        }
       
        if(UserID != null )
        {
            <div class="flex-container">
            <h3>Dojo Activity Center</h3>  <a class="btn btn-secondary" href="/home">Home</a> <a class="btn btn-danger" href = "/logout">Log out</a> 
            </div>

        }
        
     }
    
    

     

    



    <div class="container body-content">
        @RenderBody()
    </div>
        
        
        <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
